<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_226">
        <activity
            android:name=".combinedactivity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Android_226">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".combinedactivity.LoginActivity" />
        <activity android:name=".combinedactivity.RegisterActivity" />
        <activity android:name=".combinedactivity.ForgotPasswordActivity" />
        <activity android:name=".combinedactivity.DashboardActivity" />
        <activity android:name=".combinedactivity.DisposableEffectActivity" />
        <activity android:name=".combinedactivity.LaunchedEffectActivity" />
        <activity android:name=".combinedactivity.BottomSheetActivity" />
        <activity android:name=".combinedactivity.DialogActivity" />

        <activity
            android:name=".classactivity1.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Android_226">
        </activity>


        <activity
            android:name=".dialogs.AlertDialogActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android_226"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name=".dialogs.DialogBoxActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Android_226"
            android:windowSoftInputMode="adjustResize">
        </activity>




    </application>

</manifest>